{
{% if docker_bip is defined %}
    "bip": "{{ docker_bip }}",
{% endif %}
    "dns": [
      "{{ docker_dns }}"
    ],
    "dns-search": ["."],
{% if docker_active_selinux|bool %}
    "selinux-enabled": true,
{% endif %}
{% if docker_data_root is defined and docker_data_root != "" %}
    "data-root": "{{ docker_data_root }}",
{% endif %}
{% if docker_storage_driver is defined %}
    "storage-driver": "{{ docker_storage_driver }}",
{% endif %}
    "log-driver": "{{ log_driver_type }}",
    "log-opts": {
{% for opt in log_driver_opts %}
        "{{ opt }}": "{{ log_driver_opts[opt] }}"{% if not loop.last %},{% endif %}

{% endfor %}
    },
    "userns-remap": "{{ uid_map_user_name }}:{{ gid_map_group_name }}",
{% if docker_active_debug|bool %}
    "debug": true,
{% endif %}
    "ipv6": false,
    "userland-proxy": false,
    "hosts": ["unix:///var/run/docker.sock"]
}
